{{> header title="Tài khoản của bạn sắp hết hạn sử dụng" }}

<p>Chào {{name}},</p>
<p>Tài khoản {{accountEmail}} của bạn sẽ hết hạn vào ngày <strong>{{expiryDate}}</strong>.</p>
<p>Để tiếp tục sử dụng tài khoản, vui lòng gia hạn hoặc cập nhật thông tin ngay hôm nay.</p>
<p>Bạn có thể gia hạn tài khoản và xem thông tin chi tiết tại đường dẫn sau: <a href="{{link}}">Gia hạn tài khoản của bạn</a></p>
<p>Cảm ơn bạn đã tin dùng sản phẩm của chúng tôi. Nếu có thắc mắc, vui lòng liên hệ với chúng tôi qua thông tin trên website.</p>

{{> footer }}
